.josefin-sans light{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .josefin-sans medium{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }

 .josefin-sans bold{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  

*{
 
   box-sizing:border-box; 
   font-family:"Josefin Sans", sans-serif;
   font-weight: 400;
}

body{
    background: #000000;
}


.header{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: #fff;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header :hover{
    color: #9913bb;
}

.logo{
    background: linear-gradient(#1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity:0;
    animation: slideRight 1s ease forwards; 
}

.sound {
    margin-top: -20px;
    margin-left:1px;
    align-items: center;
    width: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    animation: slideTop 1s ease forwards; 

}


.navbar {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 300px;
    padding: 80px 10%;
    transition: 0.3s;
    opacity:0;
    animation: slideTop 1s ease forwards; 

}

.navbar :hover{
    color: #ffff;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-white {
    --bs-text-opacity: 1;
    color: #fff
}
.mb-4 {
   
    margin-bottom: 1.5rem !important;
}
.badge {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-right: -200px;
    border-radius: 40px;
    display:inline-block;
    box-shadow: 0 0 20px #1e30f3;
    font-family: "Plus Jakarta Sans";
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

   
}

.home{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0;

}


.home-content{
    max-width:500px;
    color:#fff;

    

}

.home-content h3{
    background: linear-gradient(#1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 56px;
    font-weight: 700;
    margin-top: -1rem;
    margin-bottom: 1rem !important;
    opacity:0;
    animation: slideRight 1s ease forwards; 
    animation-delay: 0.2s;

}


.home-content h1{
    font-size:40px;
    font-weight:700;
    margin:-3px 0;
    opacity:0;
    animation: slideRight 1s ease forwards; 
    animation-delay: 0.2s;

}

.home-content h1:hover{
    color:#9913bb;

}

.home-content p{
    min-height: 100px;
    font-size: 20px;
    animation: slideLeft 1s ease forwards; 
    animation-delay: 0.2s;
}


.home-img img{
    display: inline-flex;
    max-width: 500px;
    margin-right: -100px;
    border-radius: 30px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite; 
    animation-delay: 0.2s, 3s;
}

.social-media a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size:20px;
    text-decoration: none;
    margin: 20px 15px 30px 0;
    transition: 0.5 ease;
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    opacity:0;
    animation: slideRight 1s ease forwards; 
    animation-delay: 0.2s;

}

.social-media a:hover{
    background:linear-gradient(135deg, #1e30f3 0%, #e21e80 100%); ;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 28px;
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 40px;
    box-shadow: 0 0 20px #9913bb;
    font-size: 16px;
    color:#fff;
    letter-spacing: 1px;
    opacity:0;
    animation: slideTop 1s ease forwards; 
    animation-delay: 0.4s;

}

.btn:hover{
    color:#cfcbcb;
    transform: scale(1.1);
}


@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity:0;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity:0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity:0;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity:0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);

    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

.portfolio{
    background:#000000;
    color: #fff;
    animation: slideTop 1s; 
    position: relative;
}

.portfolio h2{
    background: linear-gradient(#1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    position: relative;
}


.portfolio-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 70px;
    margin-right: 70px ;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    box-shadow: 0 0 1rem #9913bb;
    border-radius: 2rem;
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width:100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img{
   
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(135deg, #1e30f3 0%, #e21e80 100%); ;
    display: flex;
    text-decoration: none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align:center ;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5 ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer a{
    text-decoration: none;
}


.portfolio-layer a h4{
    font-size: 25px;
    color: white;
    text-decoration: none;
    position: relative;
}

.portfolio-layer a p{
    font-size: 17px;
    color:white;
    text-decoration: none;
    position: relative;
    
}

